:host {
  display: flex;
  background: white;
  border-radius: 4px;
  flex: 0 0 60%;
  height: 100%;
  align-items: center;
  position: relative;

  ::ng-deep {
    .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
      opacity: 0.03 !important;
      background-color: forestgreen !important;
    }

    .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      background-color: forestgreen;
    }

    mat-form-field {
      width: 130px;
      border-radius: 4px;
      border: 1px solid #808080;
      background-color: rgba(34,34,34,.1);
      padding: 0 5px;
      margin: 10px 0 10px 10px;

      .mat-form-field-underline {
        display: none;
      }

      .mat-form-field-wrapper {
        padding-bottom: 0;
      }

      .mat-form-field-infix {
        border: none;
      }
    }
  }
}

.search {
  color: #cccccc;
  padding: 0 5px;
}

.close {
  color: #808080;
  padding: 0 5px;

  &:hover {
    transition: .5s;
    cursor: pointer;
    color: wheat;
  }
}

input {
  border: none;
  height: 100%;
  display: flex;
  flex: 1;
  padding: 0;

  &:focus {
    outline: none;
  }
}

.search-block {
  position: absolute;
  top: 35px;
  left: 0;
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  .d-flex {
    display: flex;
    align-items: center;
    flex: 1;

    .author {
      margin-left: 20px;
      border: 1px solid #ccc;
      padding: 10px 5px;
      border-radius: 4px;
    }

    mat-checkbox {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.search-text {
  background-color: coral;
  padding: 0 10px;
  height: 100%;
  border-radius: 0 4px 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: wheat;
    transition: .5s;
    cursor: pointer;
  }
}


